tr { font-family: "±¼¸²"; font-size: 9pt; color: #333333; }
input { border:1px solid #666666; font-family: "µ¸¿ò"; font-size: 9pt; color: #333333; page-break-before: right;}
SELECT { border:1px solid #666666; font-family: "µ¸¿ò"; font-size: 9pt; color: #333333; page-break-before: right;}
textarea { border:1px solid #666666; font-family: "µ¸¿ò"; font-size: 9pt; color: #333333; page-break-before: right;}
.button { background-image: url(image/dot.gif); background-repeat: repeat-x; background-position: bottom }